// Palette 1
.palette1 {
  .mainCard__wrapper {
    &--name {
      color: $colorPal1Dark;
      border-left: 5px solid $colorPal1Medium;
    }
    &--position {
      color: $colorPal1Medium;
      border-left: 5px solid $colorPal1Medium;
    }
  }
  .socialLink {
    border: 2px solid $colorPal1Light;
  }
  .socialLink__link {
    color: $colorPal1Dark;
  }
}

// Palette 2
.palette2 {
  .mainCard__wrapper {
    &--name {
      color: $colorPal2Dark;
      border-left: 5px solid $colorPal2Medium;
    }
    &--position {
      color: $colorPal2Medium;
      border-left: 5px solid $colorPal2Medium;
    }
  }
  .socialLink {
    border: 2px solid $colorPal2Light;
  }
  .socialLink__link {
    color: $colorPal2Dark;
  }
}

// Palette 3
.palette3 {
  .mainCard__wrapper {
    &--name {
      color: $colorPal3Dark;
      border-left: 5px solid $colorPal3Medium;
    }
    &--position {
      color: $colorPal3Medium;
      border-left: 5px solid $colorPal3Medium;
    }
  }
  .socialLink {
    border: 2px solid $colorPal3Light;
  }
  .socialLink__link {
    color: $colorPal3Dark;
  }
}

// Palette 4
.palette4 {
  .mainCard__wrapper {
    &--name {
      color: $colorPalHwDark;
      border-left: 5px solid $colorPalHwMedium;
    }
    &--position {
      color: $colorPal3Medium;
      border-left: 5px solid $colorPalHwMedium;
    }
  }
  .socialLink {
    border: 2px solid $colorPalHwLight;
  }
  .socialLink__link {
    color: $colorPalHwDark;
  }
}
