<div>
  <include src="./menu.html" icon="fas fa-share-alt" title="Comparte">
  </include>
  <section class="collapsableShare hideCollapsable js-mainCollapsable">
    <!--A esta clase hay que QUITARLE hideCollapsable con JS para desplegarla-->
    <button class="collapsableShare__btn">
      <i class="far fa-address-card" aria-hidden="true"></i>
      Crear tarjeta
    </button>
    <div class="collapsableShare__createLink">
      <p class="collapsableShare__createLink--title">
        La tarjeta ha sido creada:
      </p>
      <span class="collapsableShare__createLink--twitterLink"></span>
      <a class="collapsableShare__createLink--twitterButton" href="">
        <i class="fab fa-twitter" aria-hidden="true"></i>
        Compartir en Twitter
      </a>
    </div>
  </section>
</div>
