<div>
  <include src="./menu.html" icon="far fa-object-ungroup" title="Diseña">
  </include>
  <section class="collapsableDesign js-mainCollapsable">
    <!--A esta clase hay que QUITARLE hideCollapsable con JS para desplegarla-->
    <h4 class="collapsableDesign__title">Colores</h4>
    <div class="collapsableDesign__palette">
      <label for="palette1" class="palette1">
        <input
          class="paletteRadio js-paletteRadio1"
          id="palette1"
          type="radio"
          value="palette1"
          name="palette"
        />
        <div class="palette1__color1"></div>
        <div class="palette1__color2"></div>
        <div class="palette1__color3"></div>
      </label>
      <label for="palette2" class="palette2">
        <input
          class="paletteRadio js-paletteRadio2"
          id="palette2"
          type="radio"
          value="palette2"
          name="palette"
        />
        <div class="palette2__color1"></div>
        <div class="palette2__color2"></div>
        <div class="palette2__color3"></div>
      </label>
      <label for="palette3" class="palette3">
        <input
          class="paletteRadio js-paletteRadio3"
          id="palette3"
          type="radio"
          value="palette3"
          name="palette"
        />
        <div class="palette3__color1"></div>
        <div class="palette3__color2"></div>
        <div class="palette3__color3"></div>
      </label>
      <label for="halloween" class="palette4">
        <input
          class="paletteRadio js-paletteRadio4"
          id="halloween"
          type="radio"
          value="halloween"
          name="palette"
        />
        <div class="palette4__color1"></div>
        <div class="palette4__color2"></div>
        <div class="palette4__color3"></div>
      </label>
    </div>
  </section>
</div>
