<div>
  <div class="mainMenu mainMenuShare">
    <span class="mainMenu__icon"
      ><i class="fas fa-share-alt" aria-hidden="true"></i>
    </span>
    <h3 class="mainMenu__title mainMenuShare__title">Comparte</h3>
    <button class="mainMenu__button">
      <!-- <i class="fas fa-chevron-down"></i> -->
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
  <button class="mainButton">
    <i class="far fa-address-card" aria-hidden="true"></i>
    Crear tarjeta
  </button>
  <div class="createLink">
    <p class="createLink__title">La tarjeta ha sido creada:</p>
    <span class="createLink__twitterLink"></span>
    <a class="createLink__twitterButton" href="">
      <i class="fab fa-twitter" aria-hidden="true"></i>
      Compartir en Twitter
    </a>
  </div>
</div>
