<section class="mainDesign">
  <div>
    <div class="mainDesignMenu">
      <span class="mainDesignMenu__icon"
        ><i class="fal fa-object-ungroup"></i
      ></span>
      <h3 class="mainDesignMenu__title">Diseña</h3>
      <button class="mainDesignMenu__button">
        <i class="fas fa-chevron-down" aria-hidden="true"></i>
        <i class="fas fa-chevron-up" aria-hidden="true"></i>
      </button>
    </div>
    <div class="mainDesignCollapsable">
      <h4 class="mainDesignCollapsable__title">Colores</h4>
      <div class="mainDesginCollasable__pallete">
        <label for="palette1">
          <input id="palette1" type="radio" value="palette1" name="palette" />
          <span class="palette1Color1"></span>
          <span class="palette1Color2"></span>
          <span class="palette1Color3"></span>
        </label>
        <label for="palette2">
          <input id="palette2" type="radio" value="palette2" name="palette" />
          <span class="palette2Color1"></span>
          <span class="palette2Color2"></span>
          <span class="palette2Color3"></span>
        </label>
        <label for="palette3">
          <input id="palette3" type="radio" value="palette3" name="palette" />
          <span class="palette3Color1"></span>
          <span class="palette3Color2"></span>
          <span class="palette3Color3"></span>
        </label>
      </div>
    </div>
  </div>
</section>
