<div>
  <include
    src="./menu.html"
    icon="fas fa-share-alt"
    title="Comparte"
    navClass="navShare js-navShare"
    id="share"
  >
  </include>
  <section
    class="collapsableShare hideCollapsable section-share js-section-share"
  >
    <button class="collapsableShare__btn js-createCard-btn">
      <i class="far fa-address-card" aria-hidden="true"></i>
      Crear tarjeta
    </button>
    <div
      class="collapsableShare__createLink hideCollapsable js-createCard-link"
    >
      <p class="collapsableShare__createLink--title">
        La tarjeta ha sido creada:
      </p>
      <a
        class="collapsableShare__createLink--cardLink js-card-link"
        href=""
        target="_blank"
      >
      </a>
      <a
        class="collapsableShare__createLink--twitterButton js-twitter-btn"
        href=""
        target="_blank"
      >
        <i class="fab fa-twitter" aria-hidden="true"></i>
        Compartir en Twitter
      </a>
    </div>
  </section>
</div>
