<main class="mainLanding" role="main">
  <div class="mainLanding__logo">
    <a href="./profileCards.html" title="Ir a crear tu tarjeta de visita">
      <img
        class="mainLanding__logo--img"
        src="./assets/images/logo-awesome-profile-cards.svg"
        alt="Logo crea tu propia tarjeta de visita"
        title="Logo crea tu propia tarjeta de visita"
      />
    </a>
  </div>
  <section class="mainLanding__text">
    <h1 class="mainLanding__text--title">Crea tu tarjeta de visita</h1>
    <h2 class="mainLanding__text--subtitle">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </h2>
  </section>
  <section>
    <ul class="mainLanding__list">
      <li>
        <span class="mainLanding__list--icon"
          ><i class="far fa-object-ungroup fa-2x"></i
        ></span>
        <h3 class="iconTitle">Diseña</h3>
      </li>
      <!-- El icono de Rellena es de pago. Tenemos que esperar que Iván nos explique el lunes cómo incluirlo sin necesidad de registrarnos -->
      <li>
        <span class="mainLanding__list--icon"
          ><i class="fal fa-keyboard fa-2x"></i
        ></span>
        <h3 class="iconTitle">Rellena</h3>
      </li>
      <li>
        <span class="mainLanding__list--icon"
          ><i class="fas fa-share-alt fa-2x"></i
        ></span>
        <h3 class="iconTitle">Comparte</h3>
      </li>
    </ul>
  </section>
  <div class="mainLanding__link" role="link">
    <a
      class="mainLanding__link--text"
      href="./profileCards.html"
      title="Ir a crear tu tarjeta de visita"
      >Comenzar</a
    >
  </div>
</main>
