<main class="main__landing" role="main">
  <div class="main__landing__wrapper">
    <a href="https://profileCards.html" title="Ir a crear tu tarjeta de visita">
      <img
        class="main__landing__logo"
        src="./assets/images/logo-awesome-profile-cards.svg"
        alt="Logo crea tu propia tarjeta de visita"
        title="Logo crea tu propia tarjeta de visita"
      />
    </a>
    <div class="main__landing__div">
      <h1 class="main__landing__title">Crea tu tarjeta de visita</h1>
      <h2 class="main__landing__subtitle">
        Crea mejores contactos profesionales de forma fácil y cómoda
      </h2>
    </div>
    <div class="main_landing_list">
      <div class="main_landing__item">
        <i class="far fa-object-ungroup"></i>
        <h3 class="item__title__1">Diseña</h3>
      </div>
      <!-- El icono de Rellena es de pago. Tenemos que esperar que Iván nos explique el lunes cómo incluirlo sin necesidad de registrarnos -->
      <div class="main_landing__item">
        <i class="fal fa-keyboard"></i>
        <h3 class="item__title__2">Rellena</h3>
      </div>
      <div class="main_landing__item">
        <i class="fas fa-share-alt"></i>
        <h3 class="item__title__3">Comparte</h3>
      </div>
    </div>
    <a href="https://profileCards.html" title="Ir a crear tu tarjeta de visita">
      <button
        class="main__landing__button"
        role="link"
        onclick="href=profileCards.html"
      >
        Comenzar
      </button>
    </a>
  </div>
</main>
