<section class="mainCard">
  <div class="resetImage">
    <button class="mainCard__button" type="reset" value="Reset">
      <i
        class="far fa-trash-alt mainCard__button--trashBin"
        aria-hidden="true"
      ></i>
      Reset
    </button>
    <article class="mainCard__wrapper">
      <h1 class="mainCard__wrapper--name">Nombre apellido</h1>
      <h2 class="mainCard__wrapper--position">Front-end developer</h2>
      <div class="profile">
        <div
          class="profile__image js__profile-image"
          style="
            background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
          "
        ></div>
        <!-- <div class="profile__preview js__profile-preview"></div> -->
      </div>
      <nav>
        <ul class="mainCard__wrapper--list">
          <li class="socialLink">
            <i class="fas fa-mobile-alt" aria-hidden="true"></i>
          </li>
          <li class="socialLink">
            <i class="far fa-envelope" aria-hidden="true"></i>
          </li>
          <li class="socialLink">
            <i class="fab fa-linkedin-in" aria-hidden="true"></i>
          </li>
          <li class="socialLink">
            <i class="fab fa-github-alt" aria-hidden="true"></i>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
