<div>
  <div class="mainMenu">
    <div class="mainMenu__iconTitle">
      <span class="mainMenu__iconTitle--icon"
        ><i class="far fa-object-ungroup" aria-hidden="true"></i
      ></span>
      <h3 class="mainMenu__iconTitle--title">Diseña</h3>
    </div>
    <button class="mainMenu__button">
      <!-- <i class="fas fa-chevron-down faChevronDown"></i> -->
      <i class="fas fa-chevron-up"></i>
    </button>
  </div>
  <div class="mainCollapsable">
    <h4 class="mainCollapsable__title">Colores</h4>
    <div class="mainCollapsable__palette">
      <label for="palette1" class="palette1">
        <input
          class="paletteRadio"
          id="palette1"
          type="radio"
          value="palette1"
          name="palette"
        />
        <div class="palette1__color1"></div>
        <div class="palette1__color2"></div>
        <div class="palette1__color3"></div>
      </label>
      <label for="palette2" class="palette2">
        <input
          class="paletteRadio"
          id="palette2"
          type="radio"
          value="palette2"
          name="palette"
        />
        <div class="palette2__color1"></div>
        <div class="palette2__color2"></div>
        <div class="palette2__color3"></div>
      </label>
      <label for="palette3" class="palette3">
        <input
          class="paletteRadio"
          id="palette3"
          type="radio"
          value="palette3"
          name="palette"
        />
        <div class="palette3__color1"></div>
        <div class="palette3__color2"></div>
        <div class="palette3__color3"></div>
      </label>
      <!-- Comentar con Dayana si podemos incluir una paleta temática de Halloween
      <label for="halloween" class="palettehalloween">
        <input
          class="paletteRadio"
          id="halloween"
          type="radio"
          value="halloween"
          name="halloween" **Cambiar el name por palette cuando vayamos a publicar la paleta**
        />
        <div class="palettehalloween__color1"></div>
        <div class="palettehalloween__color2"></div>
        <div class="palettehalloween__color3"></div>
      </label> -->
    </div>
  </div>
</div>
