<section class="mainCard">
  <div class="resetImage">
    <button class="mainCard__button" type="reset" value="Reset">
      <i
        class="far fa-trash-alt mainCard__button--trashBin"
        aria-hidden="true"
      ></i>
      Reset
    </button>
    <article class="mainCard__wrapper">
      <h1 class="mainCard__wrapper--name js-nameCard js-border1">
        Nombre apellido
      </h1>
      <h2 class="mainCard__wrapper--position js-positionCard js-border2">
        Front-end developer
      </h2>
      <div class="profile">
        <div
          class="profile__image js__profile-image"
          style="
            background-image: url(https://via.placeholder.com/300x300/cccccc/666666/?text=IMAGE);
          "
        ></div>
        <!-- <div class="profile__preview js__profile-preview"></div> -->
      </div>
      <nav>
        <ul class="mainCard__wrapper--list">
          <li class="socialLink js-circle1">
            <a href="" class="socialLink__link js-tlCard js-icon1"
              ><i class="fas fa-mobile-alt" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socialLink js-circle2">
            <a href="" class="socialLink__link js-emailCard js-icon2"
              ><i class="far fa-envelope" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socialLink js-circle3">
            <a href="" class="socialLink__link js-linkedinCard js-icon3"
              ><i class="fab fa-linkedin-in" aria-hidden="true"></i
            ></a>
          </li>
          <li class="socialLink js-circle4">
            <a href="" class="socialLink__link js-gitHubCard js-icon4">
              <i class="fab fa-github-alt" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
