.mainMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__iconTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &--icon {
      margin-right: 10px;
      font-size: 18px;
      color: $colorPrimary;
    }

    &--title {
      font-family: $fontPrimary;
      font-weight: 600;
      font-size: 18px;
      line-height: normal;
      color: $colorSecondary;
      text-transform: uppercase;
    }
  }
  &__button {
    font-size: 18px;
    font-weight: normal;
    background-color: transparent;
    border: none;
    color: $colorSecondary;
  }
}

.mainCollapsable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $colorBrand2;
  margin: 22px 0 10px 0;

  &__title {
    font-size: 14px;
    color: $colorSecondary;
    font-family: $fontPrimary;
    line-height: normal;
    text-transform: uppercase;
  }

  &__palette {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
  }
}

.paletteRadio {
  margin-bottom: 28px;
  margin-right: 10px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.paletteRadio:checked {
  appearance: none;
  border: 6px solid $colorBrand7;
  outline: none;
}

.palette1 {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal1Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal1Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal1Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}
.palette2 {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal2Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal2Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal2Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}
.palette3 {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal3Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal3Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal3Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}

.palette4 {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPalHwDark;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
  &__color2 {
    background-color: $colorPalHwMedium;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
  &__color3 {
    background-color: $colorPalHwLight;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
}
