.collapsableDesign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 22px 0 10px 0;
  animation-name: collapsable;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  @keyframes collapsable {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__title {
    font-size: 14px;
    color: $colorSecondary;
    font-family: $fontPrimary;
    line-height: normal;
    text-transform: uppercase;
  }

  &__palette {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: column;
  }
}

.paletteRadio {
  margin-bottom: 28px;
  margin-right: 10px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.paletteRadio:checked {
  appearance: none;
  border: 6px solid $colorBrand7;
  outline: none;
}

.paletteGreen {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal1Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal1Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal1Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}
.paletteRed {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal2Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal2Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal2Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}
.paletteBlue {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPal3Dark;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color2 {
    background-color: $colorPal3Medium;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
  &__color3 {
    background-color: $colorPal3Light;
    width: 30px;
    height: 25px;
    margin-top: -4px;
  }
}

.paletteHalloween {
  display: flex;
  flex-direction: row;
  &__color1 {
    background-color: $colorPalHwDark;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
  &__color2 {
    background-color: $colorPalHwMedium;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
  &__color3 {
    background-color: $colorPalHwLight;
    width: 30px;
    height: 25px;
    margin-top: -7px;
  }
}
