.mainLanding {
  background-color: $colorBg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 26.4px 0 25.6px;

  &__logo {
    margin-top: 95px;
    margin-bottom: 35.4px;
    &--img {
      width: 250px;
    }
  }

  &__text {
    &--title {
      font-family: $fontTerciary;
      font-size: 19.2px;
      color: $colorPrimary;
    }
    &--subtitle {
      font-family: $fontPrimary;
      font-size: 12.8px;
      color: $colorPal1Dark;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    border: 1.6px solid $colorPrimaryLight;
    border-radius: 4px;
    padding: 15px 0 17.8px 0;
    margin: 17.8px 0 38.6px 0px;
    width: 268px;

    &--icon {
      color: $colorPrimary;
      font-size: 22.4px;
    }

    .iconTitle {
      font-family: $fontPrimary;
      font-size: 12.8px;
      color: $colorSecondary;
    }
  }

  &__link {
    width: 129px;
    background-color: $colorPal1Medium;
    color: $colorWhite;
    padding: 10px 20px 10px 20px;
    border-radius: 21px;
    margin-bottom: 30px;
    &:hover {
      background-color: lighten($colorPal1Dark, 15%);
      cursor: pointer;
    }

    &--text {
      text-decoration: none;
      color: $colorWhite;
      text-transform: uppercase;
      font-family: $fontPrimary;
      font-size: 16px;
      padding-top: 5px 2px 5px 0px;
      // padding-bottom: 5px;
    }
  }
}

@media all and (min-width: 768px) {
  .mainLanding {
    padding: 0 174px 0 175px;

    &__logo {
      margin-top: 350px;
      margin-bottom: 31px;
      &--img {
        width: 419px;
      }
    }

    &__text {
      width: 331px;
      &--title {
        font-size: 24px;
      }
      &--subtitle {
        font-size: 16px;
      }
    }

    &__list {
      padding: 15px 0 22px 0;
      margin: 27px 0 186px 0px;
      width: 325px;

      &--icon {
        font-size: 28px;
      }

      .iconTitle {
        font-size: 16px;
      }
    }

    &__link {
      padding: 10px 20.5px 10px 19.5px;
      margin-bottom: 59px;
    }
  }
}
