.mainOptions {
  background: linear-gradient(to bottom, $colorBg, $colorWhite 9%);
  padding: 27px 20px 0 20px;
  @media all and (min-width: 768px) {
    background: none;
    padding: 20px 40px 20px 40px;
  }
}
