.collapsableShare {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__btn {
    width: 199px;
    height: 50px;
    padding: auto;
    margin: 30px 0px;
    border-radius: 12px;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    border: none;
    background-color: $colorPrimary;
    color: $colorWhite;
    font-family: $fontPrimary;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  &__createLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $colorBrand2;
    border-bottom: 1px solid $colorBrand2;
    padding-top: 20px;

    &--title {
      font-family: $fontPrimary;
      color: $colorSecondary;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
    }

    &--twitterLink {
      font-family: $fontPrimary;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      color: $colorPrimary;
      margin: 0 -7px 10px -5px;
    }
    &--twitterButton {
      width: 181px;
      height: 30px;
      padding: 3px 9px 7px 10.5px;
      border-radius: 3px;
      font-family: $fontPrimary;
      font-size: 14px;
      text-decoration: none;
      color: $colorWhite;
      background-color: $colorBrand7;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      margin: 0 49px 30px 50px;
    }
  }

  .fa-address-card {
    margin-right: 5px;
  }
}

.fa-twitter {
  font-size: 18px;
  position: relative;
  top: 3px;
}
