.mainProfileCards {
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    .mainProfileCards {
      display: flex;
      flex-direction: row;
      background: linear-gradient(to bottom, $colorBg, $colorWhite 9%);
      padding: 23px 40px 21px 20px;
    }
  }
}
