@import "core/variables";
@import "core/reset";
@import "layout/page";
@import "layout/mainLanding";
@import "layout/mainProfileCards";
@import "layout/header";
@import "layout/mainCard";
@import "layout/mainDesign";
@import "layout/mainOptions";
@import "layout/mainShare";
@import "layout/footer";
@import "components/mainForm";
